.subcategory {
    border: none;
    background-color: black;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 23vw;
    margin-right: 7vw;
    margin-left: 7vw;
    cursor: pointer;
}

.disabled {
    cursor: auto;
    opacity: 50%;
}

.disabled img {
    max-width: 100%;
}

.disabled img:active {
    opacity: 50%;
}

.subcategory img {
    max-width: 100%;
}

.subcategory img:active {
    opacity: 50%;
}
