.category {
    display: flex;
    padding: 5vw;
    flex: 1;
    background-color: black;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.category img {
    max-width: 100%;
    cursor: pointer;
}

.category img:active {
    opacity: 50%;
}
