.team {
    display: flex;
    flex: 0.33;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.team img {
    padding: 1vh;
    max-width: 5vh;
}

.team span {
    font-size: 5vh;
    padding-left: 2vw;
    color: white;
}
