.questions {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50vw;
    align-self: center;
}

.question {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.question span {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 5vh;
    white-space: pre-wrap;
}

.buttonsContainer {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.ok {
    margin-top: 5vh;
    padding-right: 8vw;
}

.no {
    margin-top: 5vh;
    padding-right: 2vw;
}

.buttonsContainer img {
    display: flex;
    margin: 2vh;
    max-width: 50%;
}

.buttonsContainer img:active {
    opacity: 50%;
}
