.back-button {
    border: none;
    background-color: black;
    margin: 1vh;
    width: 10vh;
    user-select: none;
    outline: none !important;
}
.back-button:active {
    opacity: 50%;
    outline: none !important;
}

.back-button img {
    max-width: 100%;
    cursor: pointer;
    outline: none !important;
}

.back-button img:active {
    opacity: 50%;
    outline: none !important;
}

.buttonContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    outline: none !important;
}

.buttonContent:active {
    outline: none !important;
}
