.qbutton {
    border: none;
    height: 10vh;
    background-color: #262626;
    margin: 2vw;
    width: 10vw;
    border-radius: 1vw;
    cursor: pointer;
}

.green {
    background-color: #398a91;
}

.yellow {
    background-color: #9b7a2d;
}

.red {
    background-color: #79000a;
}

.qbutton:active {
    opacity: 50%;
    outline: none !important;
}

.answered{
    opacity: 50%;
    cursor: auto;
}


.buttonContent {
    height: 10vh;
}

.buttonContent span {
    font-family: "Caveat", serif;
    font-size: 4vw;
    color: white;
}
